@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css vars for colors (adjust as desired) */
:root {
  --primary: 262.1 83.3% 57.8%;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
}
